<script lang="ts">
export default {
  data: () => ({
    years: [
      {
        color: "cyan",
        year: "2004-2013",
      },
      {
        color: "green",
        year: "1970",
      },
      {
        color: "pink",
        year: "1980",
      },
      {
        color: "amber",
        year: "1990",
      },
    ],
  }),
};
</script>
<template>
  <v-container>
    <v-card class="mx-auto" max-width="600">
      <v-img
        height="70%"
        Default
        src="https://i.pinimg.com/564x/c7/3a/26/c73a26e4fb5b900c2e01595c77574ee6.jpg"
      >
        <v-avatar color="grey" size="150">
          <v-img
            height
            Default
            src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/320339938_696170155479060_7948112055156952134_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Q8vZgXQd_7IAX89dQ1b&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfAVNk4Jnmz-TSHJSFDtAy2h7kfr98hqOoY9odlBqd8r3Q&oe=63A3B66C"
          ></v-img>
        </v-avatar>
        <v-list-item
          class="text-white"
          title="Warathip Phatthananithisak"
          subtitle="Undergraduate"
        ></v-list-item>
      </v-img>
    </v-card>
    <v-timeline align="start">
      <v-timeline-item>
        <template v-slot:opposite> 2004 - 2013</template>
        <div>
          <div class="text-h6">Naraiwitthaya School</div>
          <p>Kindergarten - Elementary</p>
        </div>
      </v-timeline-item>

      <v-timeline-item>
        <template v-slot:opposite> 2014 - 2017 </template>
        <div>
          <div class="text-h6">Chaibadawithaya School</div>
          <p>Mathematics-Science</p>
        </div>
      </v-timeline-item>

      <v-timeline-item>
        <template v-slot:opposite> 2018 - 2020 </template>
        <div>
          <div class="text-h6">Saint Joseph Thiphawan School</div>
          <p>English-Mathematics</p>
        </div>
      </v-timeline-item>
      <v-timeline-item>
        <template v-slot:opposite> 2021 </template>
        <div>
          <div class="text-h6">Burapha University</div>
          <p>Faculty of Informatics</p>
        </div>
      </v-timeline-item>
    </v-timeline>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>Interests</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Music</td>
              <td>West coast : Lana del rey</td>
            </tr>
            <tr>
              <td></td>
              <td>Need to know : Doja cat</td>
            </tr>
            <tr>
              <td></td>
              <td>Glimpse of us : Joji</td>
            </tr>
            <tr>
              <td>Food</td>
              <td>Rice crispy pork</td>
            </tr>
            <tr>
              <td></td>
              <td>Chicken Green Curry</td>
            </tr>
            <tr>
              <td></td>
              <td>Noodle soup</td>
            </tr>
            <tr>
              <td>Singer</td>
              <td>Harry Styles</td>
            </tr>
            <tr>
              <td></td>
              <td>Lana Del Lay</td>
            </tr>
            <tr>
              <td></td>
              <td>The Weeknd</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
